@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Balance";
}
@model BalanceViewModel;

<div class="row">
    <div class="col-md-6">
        <div id="chartBalances"></div>
    </div>
    <div class="col-md-6">
        <div id="gridBalances"></div>
    </div>
</div>

@section Scripts {
    <script>    
        $(function() {
            const balancesData = @(Html.Raw(JsonConvert.SerializeObject(Model.Balances)));
            const _grdBalances = $("#gridBalances").dxDataGrid({
                dataSource: balancesData,
                showBorders: true,
                paging: {
                    pageSize: 5
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [5, 10, 15, 20, 25, 50, 100]
                },
                searchPanel: {
                    visible: true,                    
                    placeholder: "Search a Asset",
                    width: 240
                },
                columns: [{
                    dataField: "AssetName",
                    caption: "Asset",
                    dataType: "string"                    
                }, {
                    dataField: "TotalAmount",
                    caption: "Total",
                    dataType: "number"                        
                }, {
                    dataField: "AmountInUse",
                    caption: "In Use",
                    dataType: "number"
                }, {
                    dataField: "AvailableAmount",
                    caption: "Available",
                    dataType: "number",
                    sortOrder: 'desc'                                      
                }, {
                    caption: "Action",
                    @* width: "240", *@
                    cellTemplate: function(container, options) {
                        var assetName = options.data.AssetName;
                        @* var html = "";
                        html += `<div class="btn-group" role="group">`;
                        html += `<a class="btn btn-sm btn-primary" href="#">Deposit</a>`;
                        html += `<a class="btn btn-sm btn-primary" href="#">Withdraw</a>`;
                        html += `</div>`;
                        container.html(html); *@

                        $("<div/>").dxButton({
                            stylingMode: 'contained',
                            text: '',
                            hint: 'Deposit',
                            type: 'default',
                            icon: 'upload',
                            onClick() {
                                //DevExpress.ui.notify('Deposit button was clicked');
                            },
                        }).appendTo(container);

                        $("<div/>").dxButton({
                            stylingMode: 'contained',
                            text: '',
                            hint: 'Withdraw',
                            type: 'default',
                            icon: 'download',
                            onClick() {
                                //DevExpress.ui.notify('Deposit button was clicked');
                            },
                        }).appendTo(container);
                    }
                }],                
                toolbar: {
                    @* items: [{
                        location: 'after',
                        template: function(item, index, container) {  
                            $("<div/>").dxSwitch({  
                                value: true  
                            }).appendTo(container);  
                        }
                    }], *@
                }
            }).dxDataGrid("instance");
        });

    </script>
}